version: "3.9"

services:
  api:
    build: .
    image: papopapota/jobs-api:latest
    env_file:
      - .env.prod
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
