name: CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: SSH deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
          script: |
            cd ~/deploy
            sed -i "s|image: papopapota/jobs-api:.*|image: papopapota/jobs-api:${{ github.ref_name }}|" docker-compose.prod.yml
            docker compose pull
            docker compose up -d
