name: CI DEV

on:
  push:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push DEV
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: papopapota/jobs-api:dev-${{ github.sha }}
