name: CI RELEASE

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v4

      - name: Login Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push RELEASE
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            papopapota/jobs-api:${{ github.ref_name }}
            papopapota/jobs-api:latest
